<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static "instructor/style.css" %}">
    <title>Add a new Instructor</title>
</head>
<body>
    <div class="wrapper">
        <div class="topbar">
            <h3>Add a new Instructor</h3>   
            <p><a href="/instructor/">Instructor Dashboard</a> | <a href="/people/"> Main Dashboard</a> | <a href="/people/logout">Logout</a></p>
        </div>
        <div class="instructor_create">
            <h2>Add a new instructor to the database.</h2>
        </div>
        <div class = "errors">
            {% if messages %}
            <ul class="messages">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
            </ul>
            {% endif %}
        </div>
        <form action="/instructor/instructor_create" method="post">
            {% csrf_token%}
            {{instructorForm.as_p}}
            <input type="submit" value="Add Instructor">
        </form>
    </div>  
</body>
</html>