<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static "login/style.css" %}">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <title>Epicurean Diving Student Tracker Login and Registration</title>
</head>
<body>
    <div class="wrapper">
        <div class = "topbar">
            <div class = "title">
                <h1 class>Epicurean Diving Student Tracker</h1>
            </div>
            <div class="logform">
                <form action="/login" method="post">
                    {% csrf_token%}
                    <table>
                        <tbody>
                            <tr>
                                <td><label for="email">Email</label></td>
                                <td><label for="password">Password</label></td>
                            </tr>
                            <tr>
                                <td><input type="email" name="email" id="email"></td>
                                <td><input type="password" name="password" id="password"></td>
                                <td><input type="submit" value="Login"></td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>            
        </div>
        <div class="regform">
            <h2>Create A New Account</h2>
            <form action="/register" method="post">
                {% csrf_token%}
                <div class="full_name">
                    <input type="text" name="first_name" id="first_name" placeholder="First Name"> 
                    <input type="text" name="last_name" id="last_name" placeholder="Last name">                
                </div>
                <div>
                    <input type="email" name="email" id="email" placeholder="email">
                </div>
                <div>
                    <input type="password" name="password" id="password" placeholder="New password">
                    <input type="password" name="password_confirm" id="password_confirm" placeholder="Confirm new password">
                </div>
                <input class = "create_acct" type="submit" value="Create Account"></p>
            </form>
        </div>
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <p>{{message}}</p>
            {% endfor%}
        </div>
        {% endif %}                   
        </div>
    </div>  
</body>
</html>