<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static "store/style.css" %}">
    <title>Add a new Store</title>
</head>
<body>
    <div class="wrapper">
        <div class="topbar">
            <h3>Add a new Store</h3>   
            <p><a href="/store/">Store Dashboard</a> | <a href="/people/"> Main Dashboard</a> | <a href="/store/logout">Logout</a></p>
        </div>
        <div class="store_create">
            <h2>Add a new store to the database.</h2>
            <div class = "errors">
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <form action="/store/store_create" method="post">
                {% csrf_token%}
                {{storeForm.as_p}}
                <input type="submit" value="Add Store">
            </form>
        </div>
    </div>  
</body>
</html>